@inject NavigationManager NavManager;
@inject IJSRuntime JSRuntime;

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Blazor-Tutorial</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="@Lang" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
             
            <u>
                <li class="nav-item px-2">
                    <NavLink class="nav-link" href="@($"{@Lang}/gettingstarted")">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Getting started
                    </NavLink>
                </li>
                <li class="nav-item px-2">
                    <NavLink class="nav-link" href="@($"{@Lang}/documentation")">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Documentation
                    </NavLink>
                </li>
                <li class="nav-item px-2">
                    <NavLink class="nav-link" href="@($"{@Lang}/components")">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Components
                    </NavLink>
                    <u>
                        <li class="nav-item px-2">
                            <NavLink class="nav-link" href="@($"{@Lang}/componentspage")" Match=@NavLinkMatch.All>
                                <span class="oi oi-list-rich" aria-hidden="true"></span> Markdown Editor
                            </NavLink>
                        </li>
                        <li class="nav-item px-2">
                            <NavLink class="nav-link" href="@($"{@Lang}/MarkdownViewer")" Match=@NavLinkMatch.All>
                                <span class="oi oi-list-rich" aria-hidden="true"></span> Markdown Viewer
                            </NavLink>
                        </li>
                    </u>
                </li>
                <li class="nav-item px-2">
                    <NavLink class="nav-link" href="@($"{@Lang}/faqs")">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> FAQs
                    </NavLink>
                </li>
                <li class="nav-item px-2">
                    <NavLink class="nav-link" href="">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Secured
                    </NavLink>
                    <u>
                        <li class="nav-item px-2">
                            <NavLink class="nav-link" href="securedpage">
                                <span class="oi oi-list-rich" aria-hidden="true"></span> Secured Page
                            </NavLink>
                        </li>
                    </u>
                </li>
            </u>
        </li>
        <li class="px-4 ms-auto  align-bottom">
            <div class="list-inline">
                <a href="" class="list-inline-item" @onclick="@(() => SetLanguage("en"))" @onclick:preventDefault>
                    <span class="flag-icon flag-icon-gbr"></span>
                </a>
                <a href="" class="list-inline-item" @onclick="@(() => SetLanguage("de"))" @onclick:preventDefault>
                    <span class="flag-icon flag-icon-deu"></span>
                </a>
            </div>
        </li>
    </ul>
</div>




@code {
    [Parameter]
    public string Lang { get; set; }

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void SetLanguage(string lang)
    {
        if (CultureInfo.CurrentCulture != new CultureInfo(lang))
        {
            var js = (IJSInProcessRuntime)JSRuntime;
            js.InvokeVoid("blazorCulture.set", lang);
            NavManager.NavigateTo($"/{lang}", forceLoad: true);
        }
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}