@using BlazorTutorial.Core.Services

@inherits LayoutComponentBase

@inject ILanguageService languageService;
@inject IStringLocalizer<Resource> Localizer
@inject NavigationManager NavigationManager
@inject ICookieService CookieService

<MudThemeProvider IsDarkMode="true" Theme="_theme" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="0">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <MudSpacer />
        <MudButtonGroup Color="Color.Primary" Size="Size.Large" Variant="Variant.Text">
            <MudButton @onclick="@(() => this.languageService.SetLanguage("en"))"><span class="flag-icon flag-icon-gbr"></span></MudButton>
            <MudButton @onclick="@(() => this.languageService.SetLanguage("de"))"> <span class="flag-icon flag-icon-deu"></span></MudButton>
        </MudButtonGroup>
        <MudIcon Icon="@Icons.Rounded.Person" Size="Size.Large"></MudIcon>
        <LoginDisplay />
    </MudAppBar>
    <MudDrawer @bind-Open="drawerOpen" Elevation="1">
        <Menu Lang="@this.Lang"></Menu>
    </MudDrawer>
    <MudMainContent>
        <CascadingValue Value="@ChangeLoaderVisibility" TValue="Action<bool>" IsFixed="true">
            <MudOverlay @bind-Visible="isLoadingAnimationVisible" DarkBackground="true" ZIndex="9999" AutoClose="false">
                <MudGrid>
                    <MudItem xs="12" Class="text-center">
                        <MudProgressCircular Color="Color.Default" Indeterminate="true" />
                    </MudItem>
                    <MudItem xs="12" Class="text-center">
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@(e => ChangeLoaderVisibility(false))">@Localizer["i18n_Hide_Loading_Animation"]</MudButton>
                    </MudItem>
                </MudGrid>
            </MudOverlay>
            <MudContainer MaxWidth="MaxWidth.ExtraExtraLarge" Class="my-2 pt-2">
                @Body
            </MudContainer>
        </CascadingValue>
    </MudMainContent>
</MudLayout>

@code {
    private MudTheme _theme = new();

    public string Lang { get; set; } = string.Empty;

    public string UserName { get; set; } = "Themenarbeitsunterstützer";

    private bool drawerOpen = true;

    private bool isLoadingAnimationVisible = false;

    private string _lastVisitedPageKey = "BlazorTutorial.Last.Visited.Page";

    protected override async Task OnInitializedAsync()
    {
        this.Lang = this.languageService.GetUriLanguage();

        var lastVisitedPage = await CookieService.GetValue(_lastVisitedPageKey);

        if (!string.IsNullOrWhiteSpace(lastVisitedPage))
        {
            NavigationManager.NavigateTo(lastVisitedPage);
        }

        NavigationManager.LocationChanged += LocationChanged;

    }

    void LocationChanged(object sender, LocationChangedEventArgs e)
    {
        CookieService.SetValue(_lastVisitedPageKey, e.Location);
    }

    public void ChangeLoaderVisibility(bool visible)
    {
        isLoadingAnimationVisible = visible;

        StateHasChanged();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (string.IsNullOrEmpty(this.Lang))
            {
                this.languageService.NavigateToDefault(forceLoad: false);
            }
            else if (!this.languageService.Exist(this.Lang))
            {
                this.languageService.NavigateToDefault(this.Lang);
            }
        }
    }

    private void DrawerToggle()
    {
        drawerOpen = !drawerOpen;
    }

}