@page "/"
@page "/{lang}/index"
@page "/{lang}"

@using BlazorTutorial.Core.StateHandling
@using BlazorTutorial.Core.Services

@inject IStringLocalizer<Resource> Localizer
@inject ApplicationState ApplicationState
@inject ISettingService SettingService
 

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<br />
<br />
<br />
<MudButton Variant="Variant.Filled" Color="Color.Tertiary" OnClick="ShowLoadingAnimation">@Localizer["i18n_Show_Loading_Animation"]</MudButton>
<br />
<br />
<MudLink Href="#">@Localizer["i18n_Get_Details"]</MudLink>

<br />
<br />
<br />
<MudButton Variant="Variant.Filled" Color="Color.Tertiary" OnClick="ShowNotification">@Localizer["i18n_Show_Notification"]</MudButton>
<br />
<br />
<MudLink Href="#">@Localizer["i18n_Get_Details"]</MudLink>

<br />
<br />
<br />
@Localizer["i18n_Always_Last_Active_Site"]
<br />
<br />
<MudLink Href="#">@Localizer["i18n_Get_Details"]</MudLink>

<br />
<br />
<br />
@Localizer["i18n_Setting"]:
<br />
<i>@_settingValue</i>
<br />
<br />
<MudLink Href="#">@Localizer["i18n_Get_Details"]</MudLink>


@code {
    [CascadingParameter]
    public Action<bool> ChangeLoaderVisibilityAction { get; set; }

    [Parameter]  
    public string Lang { get; set; }

    private string _settingValue;

    protected override void OnInitialized()
    {
        _settingValue = SettingService.GetValue<string>("DummySettingValue");

        base.OnInitialized();
    }

    protected void ShowLoadingAnimation()
    {
        ChangeLoaderVisibilityAction(true);
    }

    protected void ShowNotification()
    {
        ApplicationState.GlobalNotification.Add(@Localizer["i18n_Notification_Example"]);
    }
}
