@page "/{lang}/markdownviewer"
@inject HttpClient Http
@inject IStringLocalizer<Resource> Localizer
@using BlazorTutorial.Components.Services

<PageTitle>MarkdownViewer</PageTitle>
<MarkdownViewer Body="@MarkdownText"></MarkdownViewer>
<MarkdownViewer Body="@MarkdownText2"></MarkdownViewer>
<MarkdownViewer Body="@MarkdownText3"></MarkdownViewer>
<MarkdownViewer Body="@MarkdownText4"></MarkdownViewer>
<MarkdownViewer Body="@MarkdownText1"></MarkdownViewer>
<br />
<MudButton Variant="Variant.Filled" Color="Color.Tertiary" OnClick="GetAllFiles">@Localizer["i18n_Button_Load"]</MudButton>
<br />
<br />

@if (!files.Any())
{
    <p><em>@Localizer["i18n_Press_Button_Load"]</em></p>
}
else
{
<ul>
    @foreach (var item in files)
    {
        <li>
            @item
        </li>
    }
</ul>
}
<br />
<br />
<MudButton Variant="Variant.Filled" Color="Color.Tertiary" OnClick="GetMarkDownFileByName">@Localizer["i18n_Button_Load"]</MudButton>
<br />
<br />
<div>
    <MarkdownViewer Body="@firstMarkDownFile"></MarkdownViewer>
</div>


@code
{
    [Parameter]
    public string Lang { get; set; }

    public string MarkdownText { get; set; } = "**Hallo Welt**";
    public string MarkdownText1 { get; set; } = "_Hallo Welt_";
    public string MarkdownText2 { get; set; } = "- Hallo Welt";
    public string MarkdownText3 { get; set; } = "'''Hallo Welt'''";
    public string MarkdownText4 { get; set; } = "<Hallo Welt>";

    private List<string> files = new List<string>();

    private string firstMarkDownFile = string.Empty;

    private async Task GetAllFiles()
    {
        var viewer = new MarkdownViewerService(Http);

        files = await viewer.GetAllMarkdownFileNames();
    }

    private async Task GetMarkDownFileByName()
    {
        var viewer = new MarkdownViewerService(Http);

        firstMarkDownFile = await viewer.GetMarkdownFileByName("TestFile1.md");
    }
}
